#btncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #3399ff;
  font-size: 72px;
}

@keyframes button-animation {
  0%   {background-color:#3399ff;}
  100% {background-color: #ccccff; transform: scale(1.1, 1.1);}
}

button:hover {
  animation-name: button-animation;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}